* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Audiowide', cursive; */
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #0b182b;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #3d536c;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  font-size: large;
}

.App {
  min-height: 100vh;
  padding-top: 80px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input, textarea, select {
  width: 300px;
  min-height: 30px;
  border-radius: 3px;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.intro-p {
  font-family: 'JetBrains Mono', monospace;
  inline-size: 60rem;
  overflow-wrap: break-word;
  font-size: medium;
}

h1 {
  font-size: 45px;
}

/* Auth */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.home-page-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
}

.game-card-img {
  width: 35rem;
  height: 20rem;
}


/* Posts */
.post-title, p, h6{
  font-family: 'JetBrains Mono', monospace;
  overflow-wrap: break-word;
  margin-bottom: 5px;
}

.post-card {
  width: 500px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  margin: 25px;
}

.post-button {
  display: flex;
  justify-content: center;
}


/* Memory Game */
.back {
  width: 15rem;
  height: 10rem;
}

.front {
  width: 15rem;
  height: 10rem;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 0.52fr 0.52fr 0.52fr 0.52fr;
  grid-gap: 10px;
}

.card {
  position: relative;
}

.card img {
  display: block;
  border: 1px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}





/* Quiz */
.question-card {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 30rem;
  height: auto;
}

ul {
  list-style: none;
}

li {
  font-family: 'JetBrains Mono', monospace;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.question-text {
  font-family: 'JetBrains Mono', monospace;
  color: darkblue;
  font-size: 24px;
}

.final-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 30rem;
  height: auto;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  margin-top: 5px;
  cursor: pointer;
}


/* Dropdown */

ul{
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.menu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  position: absolute;
  top: 40px;
  right: 20px;
  align-content: center;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
}


.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu ul li:hover a{
  color: white;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
  background-color: #3d536c;
  font-family: 'Courier New', Courier, monospace;
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}


.dropdown-title {
  cursor: pointer;
  position: relative;
}

.logout-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color:#3d536c;
  padding: 16px 24px;
  border-radius: 24px;
  font-size: large;
  right: 50px;
  top: 4.5rem;
}

.logout-info::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  left: 3.65rem;
  width: 18.2px;
  height: 18.2px;
  transform: rotate(45deg);
  background-color: #3d536c;
  border-left: 2px solid white;
  border-top: 2px solid white;
}


/* Canvas */
.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 500px;
  border: 2px solid white;
}