* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #0b182b;
  color: white;
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem; 
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #3d536c;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  font-size: large;
}

.App {
  min-height: 100vh;
  padding-top: 80px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input, textarea, select {
  width: 300px;
  min-height: 30px;
  border-radius: 3px;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.intro-p {
  font-family: 'JetBrains Mono', monospace;
  inline-size: 60rem;
  overflow-wrap: break-word;
  font-size: medium;
}

h1 {
  font-size: 45px;
}

/* Auth */
.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.home-page-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px;
}

.game-card-img {
  width: 35rem;
  height: 20rem;
}


/* Posts */
.post-title, p, h6{
  font-family: 'JetBrains Mono', monospace;
  overflow-wrap: break-word;
  margin-bottom: 5px;
}

.post-card {
  width: 500px;
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
  margin: 25px;
}

.post-button {
  display: flex;
  justify-content: center;
}


/* Memory Game */
.back {
  width: 15rem;
  height: 10rem;
}

.front {
  width: 15rem;
  height: 10rem;
}

.card-grid {
  display: grid;
  grid-template-columns: 0.52fr 0.52fr 0.52fr 0.52fr;
  grid-gap: 10px;
}

.card {
  position: relative;
  cursor: pointer;
}

.card img {
  display: block;
  border: 1px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}


/* Quiz */
.question-card {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 30rem;
  height: auto;
}

ul {
  list-style: none;
}

li {
  font-family: 'JetBrains Mono', monospace;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.question-text {
  font-family: 'JetBrains Mono', monospace;
  color: darkblue;
  font-size: 24px;
}

.final-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(7, 7, 7, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 30rem;
  height: auto;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  margin-top: 5px;
  cursor: pointer;
}


/* Dropdown */
ul{
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-title {
  cursor: pointer;
  position: relative;
}

.logout-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color:#3d536c;
  padding: 16px 24px;
  border-radius: 24px;
  font-size: large;
  right: 3.5%;
  top: 4.5rem;
}

.logout-info::before {
  content: '';
  position: absolute;
  top: -0.7rem;
  left: 3.68rem;
  width: 18.2px;
  height: 18.2px;
  transform: rotate(45deg);
  background-color: #3d536c;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

@media only screen and (max-width: 1830px){
  .logout-info {
      left: 3.5%;
  }
}

/* Canvas */
.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 500px;
  border: 2px solid white;
  cursor: crosshair;
}


/* Footer */
footer {
  position: absolute;
  font-family: 'Orbitron', sans-serif;
  font-size: small;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #3d536c;
}


/* Tic Tac Toe */
span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.square {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border: 2px solid #fff;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 70px 70px 70px;
}