* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b182b;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #3d536c;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.App {
  min-height: 100vh;
  padding-top: 80px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

input, textarea, select {
  width: 300px;
  min-height: 30px;
  border-radius: 3px;
  border: none;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}













/* Quiz */
.question-card {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 80%;
  height: auto;
}

ul {
  list-style: none;
}

li {
  background-color: darkgray;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 8px;
}

.question-text {
  color: darkblue;
  font-size: 24px;
}

.final-results {
  margin: 0 auto;
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  width: 50%;
  height: auto;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
}


/* Dropdown */

ul{
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.menu-trigger img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  position: absolute;
  top: 40px;
  right: 28px;
  /* background-color: #fff; */
  
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu ul li:hover a{
  color: white;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
  background-color: #3d536c;
  font-family: 'Courier New', Courier, monospace;
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
}